# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Logs
logs/
*.log

# Build
build/
dist/
*.spec

# IDE
.vscode/

# Environment
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Dynamic Data
data/

# Exports
exports/